In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [6]:
df = pd.read_csv('../data/cleaned_data.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16412 entries, 0 to 16411
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              16412 non-null  object
 1   Rank              16412 non-null  int64
 2   Platform          16412 non-null  object
 3   Year              16412 non-null  int64
 4   Genre             16412 non-null  object
 5   Publisher         16412 non-null  object
 6   NA_Sales          16412 non-null  float64
 7   EU_Sales          16412 non-null  float64
 8   JP_Sales          16412 non-null  float64
 9   Other_Sales       16412 non-null  float64
 10  Global_Sales      16412 non-null  float64
 11  NA_Sales_log      16412 non-null  float64
 12  EU_Sales_log      16412 non-null  float64
 13  JP_Sales_log      16412 non-null  float64
 14  Other_Sales_log   16412 non-null  float64
 15  Global_Sales_log  16412 non-null  float64
 16  Is_Japan_Hit      16412 non-null  int64
dtypes: float64(10), int64(3), object(4)
memory usage: 2.1+ MB

In [8]:
df.columns

Index(['Name', 'Rank', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'NA_Sales_log',
       'EU_Sales_log', 'JP_Sales_log', 'Other_Sales_log', 'Global_Sales_log',
       'Is_Japan_Hit'],
      dtype='object')

In [9]:
df = df.drop(['Rank', 'Name', 'Global_Sales', 'NA_Sales_log','EU_Sales_log', 'JP_Sales_log', 'Other_Sales_log', 'Global_Sales_log'], axis=1)

In [10]:
df.columns

Index(['Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales',
       'JP_Sales', 'Other_Sales', 'Is_Japan_Hit'],
      dtype='object')

In [11]:
df.corr(numeric_only=True)

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Is_Japan_Hit
Year,1.000000,-0.091601,0.006077,-0.169151,0.041011,-0.144305
NA_Sales,-0.091601,1.000000,0.767902,0.450400,0.634742,0.315188
EU_Sales,0.006077,0.767902,1.000000,0.435749,0.726268,0.301427
JP_Sales,-0.169151,0.450400,0.435749,1.000000,0.290211,0.768387
Other_Sales,0.041011,0.634742,0.726268,0.290211,1.000000,0.209415
Is_Japan_Hit,-0.144305,0.315188,0.301427,0.768387,0.209415,1.000000